* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #a8abac;
    height: 100vh;
    margin: 0px;
}
header{
    margin: 0px;
    background-image: url(./back2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 20rem;
    position: relative;
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}
nav ul {
    background-color: rgba(243, 243, 243, 0.932);
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    margin: 0px;
}
.drop-parent{
    position: relative;
}
.drop-parent ul{
    margin: 0;
    padding: 0;
    display: block;
    width: 200px;
}
.drop-parent ul li{
    color: black;
    padding: 5px;
    display: none;
}
.drop-down-menu{
    position: absolute;
    top: 50px;
    left: 0px;
}
.drop-down-menu li:hover{
    background-color:grey;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.drop-parent:hover .drop-down-menu li {
    display: block;
    transition: 1s;
}
.underline{
    width: 100%;
    border: 1px solid black;
    background: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
}
a .icon{
    padding-left: 5px;
}
nav ul li a{
    color: black;
    padding: 5px;
    font-size: 12;
}
/*
nav ul li:hover{
    background-color: black;
}
*/
li a:hover{
    color: white;
    background-color: black;
    border-radius: 13px;
}
.search{
    float: right;
    margin-top: 250px;
    margin-right: 2rem;
    width: 18.5rem;
}
input{
    position: relative;
    font-size: 14px;
}
input[type="text"]
{
    width: 12rem;
    height: 2rem;
    border-radius: 1rem 0 0 1rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 0 60px;
}
input[type="submit"]
{
    width: 6rem;
    left: -5px;
    height: 2rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #e89d2e;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: tomato;
}
.container{
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    background-color: #a8abac;
    position: relative;
}
.landscape{
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 28% 28%;
    grid-template-rows: 17% 25% 25% auto;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
    "header header header"
    "intro content1 content2"
    "intro content3 content4"
    "footer footer footer";
}
.landscape-headline{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.landscape h4 {
    position: absolute;
    top: 0;
    left: 10px;
    color: #3c6f3e;
}
.landscape-headline img {
    object-fit: contain;
    object-position: center;
    width: 80%;
    height: 70%;
}
.advertise{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    background-color: #3c6f3e;
}
.page-link{
    position: absolute;
    bottom: 15%;
    right: 0;
    cursor: pointer;
    font-size: small;
}
.intro{
    grid-area: intro;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}
.intro img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.intro h5 {
    margin: 0;
    padding: 5px;
}
.intro p {
    margin: 0;
    padding: 10px;
    margin-left: 60px;
}
.intro-social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;

}
.content:hover{
    transform: translateY(10px);
    transition: 1s;
}
.content1{
    grid-area: content1;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
}
.content1 img {
    width: 100%;
    height: 50%;
}
.content2{
    grid-area: content2;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.content2 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.content3{
    grid-area: content3;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content3 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.content4{
    grid-area: content4;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content4 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.landscape-footer{
    grid-area: footer;
}
.landscape-footer img{
    object-fit: cover;
    width: 100%;
    height: 70%;
}
.blog-line{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: none;
}
.photography{
    padding: 10px;
    display: grid;
}
.photography h4 {
    margin-left: 10px;
}
.reading:hover{
    cursor: pointer;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    bottom: 8%;
    right: 2%;
    z-index: 3;
}
.social a{
    color: #3c6f3e;
    font-size: 2rem;
}
.social a:hover{
    transform: skew(-30deg);
    transition: 1s;
}

footer{
    padding-top: 100px;
    width: 100%;
    height: 430px;
    background-color: rgb(15, 15, 15);
    display: grid;
    grid-template-columns: 20% 30% 23% 23%;
    column-gap: 20px;
    padding: 50px;
    position: relative;
}
.work-list{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-list{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    padding: 5px;
    font-size: 14px;
    padding-left: 0;
    color: white;
}

ol {
    display: flex;
    padding: 10px;
    margin: 0px;
    padding-top: 0px;
 
}
h4 {
    font-size: 16px;
    margin: 0px;
    color: white;
}
hr {
    width: 200px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(238, 203, 46, 0), #3c6f3ee0, rgba(0, 0, 0, 0));
}
.sidebar-bottom{
width: 100%;
position: absolute;
bottom: 10px;
left: 0;
}
.sidebar-bottom li {
    padding-bottom: 0px;
    padding-right: 15px;
}
.bottom-line{
    width: 100%;
    border: 1px solid #3c6f3e;
    background: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0px;
}
footer li:hover{
    color: #3c6f3e;
    cursor: pointer;
}

.sidebar-left div{
    height: fit-content;
    color: rgb(218, 218, 218); 
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-image: linear-gradient( 45deg, black, rgb(99, 94, 94), black);
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.sidebar-left div:hover{
    transform: translateX(10px);
    transition: 1s;
    cursor: pointer;
    color: white;
}

.feedback{
    height: fit-content;
    background-image: linear-gradient(to right, rgb(49, 48, 48), rgb(20, 19, 19), #0f0f0f);
    border-radius: 10px;
    border: none;
    outline: none;
}
.feedback h4{
    margin: 10px;
}
button {
    margin-left: 40px;
    font-size: 14px;
}
.email-box{
    width: 80%;
    height: 26.5px;
    font-size: 14px;
    margin-top: 10px;
}
.feedback input {
    width: 80%;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: initial;
    background-color: white;
    height: 100px;
    color: black;
    font-size: 14px;
}
.sent{
    margin: 10px;
    margin-left: 40px;
    font-size: 14px;
}
.sent:hover{
    color:white;
    background-color: #302f2f;
}

@media (max-width: 1200px){
    nav ul {
        padding-left: 10px;
    }
    .container{
        height: fit-content;
        width: 100%;
        margin-left: 0;
    }
    intro{
        height: fit-content;
    }
    .intro img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .intro h5 {
        margin: 0;
        padding: 5px;
    }
    .intro p {
        padding: 5px;
        margin-left: 20px;
    }
    .landscape-footer img{
        margin-top: 50px;
    }
    footer{
        padding-top: 20px;
        width: 100%;
        height: fit-content;
        background-color: rgb(15, 15, 15);
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        padding: 10px;
        position: relative;
    }
.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media (max-width: 800px){
    .margin{
        display: none;
    }
    .content p {
        font-size: smaller;
    }
    .intro p {
        margin: 0;
        padding: 0px;
        margin-left: 0px;
        font-size: smaller;
    }
    .content h3{
        font-size: smaller;
        margin-bottom: 0px;
    }
} 
@media (max-width: 600px){
    .content p {
    display: none;
    }
    .intro p {
        display: none;
    }
    .content h3{
        font-size: 18px;
    }
    .landscape h4 {
        font-size: small;
        background-color: rgb(49, 48, 48);
        color: white;
        padding: 10px;
    }
    .blog-line{
        display: none;
    }
    .page-link{
        bottom: 0px;
    }
    footer{
        padding-top: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
        padding: 5px;
        position: relative;
    }
    .social{
        bottom: 10%;
    }
    .landscape-headline img {
        height: fit-content
    }
} 